<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Make a Booking</mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex justify-content-between">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Select Your Dates</mat-label>
        <mat-date-range-input
          [formGroup]="bookingForm"
          [rangePicker]="picker"
          [dateFilter]="rangeFilter"
          [min]="minDate"
        >
          <input
            matStartDate
            formControlName="checkIn"
            placeholder="Check In Date"
          />
          <input
            matEndDate
            formControlName="checkOut"
            placeholder="Check Out Date"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker
          [dateClass]="dateClass"
          #picker
        ></mat-date-range-picker>

        <mat-error *ngIf="isDateRangeInvalid(bookingForm)"
          >One or more of your selected dates is unavailable</mat-error
        >
        <mat-error *ngIf="isMinLengthInvalid(bookingForm)"
          >You must stay at least 1 night</mat-error
        >
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Reserve Now
      </button>
    </div>
  </mat-card-content>
</mat-card>
