<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Make a Booking</mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex justify-content-between">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Check In</mat-label>
        <input matInput [formGroup] [matDatepicker]="picker1" (dateChange)="addDate(0, $event)" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    {{ dates[0] }}
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Check Out</mat-label>
        <input matInput [matDatepicker]="picker2" (dateChange)="addDate(1, $event)" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    {{ dates[1] }}
  </mat-card-content>
</mat-card>
