<mat-card>
  <mat-tab-group  mat-align-tabs="center">
    <mat-tab label="Login">
      <div class="container d-flex flex-column justify-content-center">
        <h1 class="text-center">
          <span class="text-secondary"
            ><i class="fa fa-fire mx-2"></i>AngularFire
          </span>
          Material
        </h1>
        <form [formGroup]="loginForm" (submit)="onSubmitLogin()">
          <div class="container fluid">
            <div class="row d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex flex-column">
                <mat-form-field appearance="legacy">
                  <mat-label for="email">Email</mat-label>
                  <input
                    matInput
                    type="email"
                    formControlName="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label for="password">Password</mat-label>
                  <input
                    matInput
                    type="password"
                    name="password"
                    formControlName="password"
                    class="form-control"
                    placeholder="Enter password"
                    required
                  />
                </mat-form-field>

                <div class="my-3 mx-auto">
                  <a mat-flat-button href='/forgot-password' class="link-primary">Forgot Password?</a>
                </div>
                <div *ngIf="loading$ | async; then thenLoginBlock else elseLoginBlock"></div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    
    <mat-tab label="Register">

      <div class="container d-flex flex-column justify-content-center">
   
      <h1 class="text-center py-3">
        <span class="text-secondary"
          ><i class="fa fa-fire mx-2"></i>AngularFire
        </span>
        Auth
      </h1>

      <form [formGroup]="registerForm" (submit)="onSubmitRegister()">
        <div class="container fluid">
          <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy" class="mb-1">
                <mat-label for="email">Email</mat-label>
                <input
                  matInput
                  type="email"
                  formControlName="email"
                  name="email"
                  placeholder="example@mail.com"
                  
                />
                <mat-error *ngIf="isFieldValid('email', registerForm)">Please enter a valid email address</mat-error>
              </mat-form-field>
              <mat-form-field appearance="legacy" class="mb-1">
                <mat-label for="password">Password</mat-label>
                <input
                  matInput
                  type="password"
                  name="password"
                  formControlName="password"
                  placeholder="Must be at least 6 characters"

                />
                <mat-error *ngIf="isFieldValid('password', registerForm)">Please enter a valid password</mat-error>
              </mat-form-field>
              <mat-form-field appearance="legacy" class="mb-1">
                <mat-label for="confirmPassword">Confirm Password</mat-label>
                <input
                  matInput
                  (keyup)="isConfirmPasswordInvalid(registerForm)"
                  type="password"
                  name="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Confirm Password"
                />
                <mat-error *ngIf="isConfirmPasswordInvalid(registerForm)">Passwords do not match</mat-error>
              </mat-form-field>
              <!-- <mat-error *ngIf="isConfirmPasswordValid()">Please enter a valid password</mat-error> -->
              <div *ngIf="loading$ | async; then thenRegisterBlock else elseRegisterBlock"></div>
            </div>
          </div>  
        </div>
      </form>

      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>


      <ng-template #thenRegisterBlock>
        <div class='d-flex flex-row justify-content-center align-items-center'>
          <mat-spinner [diameter]="20" class="mx-2"></mat-spinner>
          <button mat-raised-button [disabled]=true color="primary">
            Loading...
          </button>
        </div>
      </ng-template>

      <ng-template #elseRegisterBlock> 
        <button 
        mat-raised-button 
        color="primary" 
        type="submit" 
        [disabled]="!registerForm.valid"
        class="w-100"
        >
          Submit
        </button>
      </ng-template>

    <ng-template #thenLoginBlock>
      <div class='d-flex flex-row justify-content-center align-items-center'>
        <mat-spinner [diameter]="20" class="mx-2"></mat-spinner>
        <button mat-raised-button [disabled]=true color="primary">
          Loading...
        </button>
      </div>
    </ng-template>

    <ng-template #elseLoginBlock>        
        <button 
        mat-raised-button 
        color="primary" 
        type="submit" 
        [disabled]="!loginForm.valid"
        class="w-100"
        >
          Login
        </button>
    </ng-template>
