<!-- <nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AngularFireMaterial</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapse()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav ms-2">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <div *ngIf="isLoggedOut$ | async as loggedOut"></div>
      </ul>
      <ul class='navbar-nav ms-auto'>
        <li class='nav-item' *ngIf="user$ | async as user then currentUser; else guestUser">
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>AngularFire</span>
  <span class="example-spacer"></span>
  <ul class="ml-auto">
    <li *ngIf="user$ | async as user then currentUser; else guestUser"></li>
  </ul>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button> -->
</mat-toolbar>
</p>

<ng-template #loggedOut>
  <li class="nav-item"> 
    <a
    class="nav-link"
    routerLink="/login"
    >Login</a>
  </li>
  <li class="nav-item">
    <a
    class="nav-link"
    routerLink="/register"
    >Sign Up</a>
  </li>
</ng-template> 

<ng-template #currentUser>
  <div *ngIf="user$ | async as user"> 
    <app-profile-dropdown [user]="user"></app-profile-dropdown>
  </div>
</ng-template>

<ng-template #guestUser>
  <div class='d-flex flex-row align-items-center justify-content-center'>
    <img class='navbar-avatar rounded-circle mx-1' src="{{ userPhotoPlaceholder }}" alt="profile-pic">
    <button mat-button>Welcome, Guest</button>
  </div>
</ng-template>
