<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AngularFire</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapse()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav ms-2">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <div *ngIf="isLoggedOut$ | async as loggedOut"></div>
      </ul>
      <ul class='navbar-nav ms-auto'>
        <li class='nav-item' *ngIf="user$ | async as user then currentUser; else guestUser">
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #loggedOut>
  <li class="nav-item"> 
    <a
    class="nav-link"
    routerLink="/login"
    >Login</a>
  </li>
  <li class="nav-item">
    <a
    class="nav-link"
    routerLink="/register"
    >Sign Up</a>
  </li>
</ng-template> 

<ng-template #currentUser>
  <div *ngIf="user$ | async as user"> 
    <app-profile-dropdown [user]="user"></app-profile-dropdown>
  </div>
</ng-template>

<ng-template #guestUser>
  <div class="d-flex">
    <img class='navbar-avatar rounded-circle' src="{{ userPhotoPlaceholder}}" alt="profile-pic">
    <p class="nav-link">Welcome, Guest</p>
  </div>
</ng-template>
