<div class="container mt-3">
  <h2>My Profile</h2>

  <div class="card card-body" *ngIf="profile; else noProfile">
    <div class="list-group">
      <div class="list-group-item">First Name: {{ profile.firstName }}</div>
      <div class="list-group-item">Last Name: {{ profile.lastName }}</div>
      <div class="list-group-item">Age: {{ profile.age }}</div>
      <div class="list-group-item">
        Birthday: {{ profile.birthday.seconds * 1000 | date: "yyyy-MM-dd" }}
      </div>
    </div>
  </div>
</div>

<ng-template #noProfile>
  <hr />
  <h4>You Don't Have a Profile</h4>
  <button class="btn btn-primary">Create a Profile</button>
</ng-template>
