<mat-card class="product-card h-100 d-flex flex-column justify-content-between">
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ product.imageUrl }}"
    alt="{{ product.imageAltText }}"
  />

  <mat-card-content>
    <p>{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center">
    <button mat-raised-button color="primary">BOOK NOW</button>
    <button mat-raised-button color="secondary">DETAILS</button>
  </mat-card-actions>
</mat-card>
