<mat-card class="product-card h-100 d-flex flex-column justify-content-between">
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ product.imageUrl }}"
    alt="{{ product.imageAltText }}"
  />

  <mat-card-content>
    <p>{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center">
    <a
      mat-button
      [routerLink]="['/product-detail']"
      [queryParams]="{ productId: product.id }"
      mat-raised-button
      color="primary"
      >BOOK NOW</a
    >
  </mat-card-actions>
</mat-card>
