<div class="container" *ngIf="product$ | async as product">
  <div class="row">
    <h3 class="text-center mb-2 mx-auto d-inline-block">
      {{ product.title }} Details
    </h3>

    <mat-card class="details-card">
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>{{ product.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="header-image"
        src="{{ product.imageUrl }}"
        alt="{{ product.imageAltText }}"
      />
      <mat-card-content>
        {{ product.description }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row" *ngIf="showCalendar">
    <full-calendar
      class="w-100 my-2"
      #calendar
      [options]="calendarOptions"
    ></full-calendar>
  </div>

  <div class="row">
    <button
      [ngClass]="showCalendar ? 'hide-button' : 'show-button'"
      class="w-100 mx-auto my-3"
      mat-raised-button
      (click)="toggleShowAvailability()"
    >
      {{ showCalendar ? "Hide Availability" : "Show Availability" }}
    </button>
  </div>

  <div class="row">
    <app-booking-form class="w-100"></app-booking-form>
  </div>
</div>
