.header-image {
  width: 100%;
  height: auto;
}

.date-unavailable {
  background: red;
  border-radius: 100%;
  opacity: 75%;
}

.hide-button {
  background-color: #673ab7;
  color: white;
}

.show-button {
  background-color: #07b368;
}
