<div class="container mx-auto">
  <mat-card *ngIf="user; else noUser" class="mx-2">
    <mat-card-title>Profile</mat-card-title>
    <mat-card-content>
      <ul>
        <li class="d-flex flex-row justify-content-between my-2">
          <p><strong>Display Name: </strong>{{user.displayName ? user.displayName : "None"}}</p>
          <button mat-raised-button color="accent" (click)="openEditDisplayNameModal()">Edit</button>
        </li>
        <li class="d-flex flex-row justify-content-between my-2">
          <p><strong>Photo URL: </strong> {{user.photoURL ? user.photoURL : "None"}}</p>
          <button mat-raised-button color="accent" (click)="openEditPhotoURLModal()">Edit</button>
        </li>
        <li class="d-flex flex-row justify-content-between my-2">
          <p><strong>Email Verified: </strong>{{user.emailVerified ? "Yes" : "No" }}</p>
          <button mat-raised-button color="accent">Edit</button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noUser>
  <hr />
  <h4>You Don't Have a Profile</h4>
  <button class="btn btn-primary">Create a Profile</button>
</ng-template>