<div class="row mt-2">
    <div class="col-md-6 mx-auto d-flex flex-column">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center py-3">
            <span class="text-secondary"
              ><i class="fa fa-fire mx-2"></i>AngularFire
            </span>
            Auth
          </h1>
          <form [formGroup]="form" (submit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                class="form-control"
                type="email"
                formControlName="email"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div *ngIf="loading$ | async; then thenBlock else elseBlock"></div>
          </form>
        </div>
      </div>
      <div class="d-inline-flex mt-2 mx-auto">
        <a href="/register" class="link-primary me-3">Sign Up</a>
        <a href="/login" class="link-primary ms-3">Login</a>
      </div>
    </div>
  </div>
  
  
  
  
  <ng-template #thenBlock>
    <button class="btn btn-secondary w-100 my-4">
      <span class="spinner-border spinner-border-sm"></span>
      Loading..
    </button>
  </ng-template>
  <ng-template #elseBlock> 
    <div class="form-group">           
      <input
      type="submit"
      value="Send Password Reset Email"
      class="btn btn-secondary w-100 my-4"
      [disabled]="!form.valid"          
      />
    </div>
  </ng-template>