<h1 mat-dialog-title>Edit Photo URL</h1>
<div mat-dialog-content>
  <form [formGroup]="photoURLForm">
    <mat-form-field appearance="legacy">
      <mat-label>Photo URL</mat-label>
      <input 
      matInput 
      required
      type="text"
      formControlName="photoURL"
      placeholder="{{ data.photoURL ? data.photoURL : photoURLPlaceholder }}"
      >
    </mat-form-field>

  </form>
  <button mat-button (click)="onChooseRandom()" cdkFocusInitial>Choose Random Picture</button>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmitPhotoURL()" [disabled]="!photoURLForm.valid" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</div>